.background {
     background: linear-gradient(
    118deg,
    rgba(93, 212, 255, 1) 0%,
    rgba(255, 49, 234, 1) 100%
  );
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}